{{#if variant}}
<button class="button button__{{variant}}{{#if color}} button__{{variant}}--{{color}}{{/if}}{{#if size}} button__{{variant}}--{{size}}{{/if}}">
    {{#if arrow}}
        <div class="button-arrow__{{arrow}}"></div>
    {{/if}}
    {{#unless arrow}}
        {{text}}
    {{/unless}}
</button>
{{/if}}

